@import "../base/variables";
.experience {
  &__title{
    font-family: $font-Bubblegum;
    font-size: 2.5rem;  
  }
  &__headline{
    width: min(600px, 100%);
    margin-bottom: 3em;
  }

  &__preview {
    width: min(700px, 100%);
    margin: 0 auto;
    text-align: center;
    position: relative;
    border-radius: 28.4px;
    border: 2.367px solid #110f0f;
    padding: 1em;

    &::before {
      position: absolute;
      content: "Preview";
      left: -27px;
      top: -30px;
      font-size: 1rem;
      background-color: $brown-clr;
      color: $white;
      padding: 0.5em;
      width: 105px;
      transform: rotate(-29.916deg);
      padding: 11.833px 23.667px;
      border-radius: 50px;
    }
  }

  &__message {
    text-align: left;
  }
  &__tweets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 440px;
    /* hide scrollbar but allow scrolling */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    margin-top: 5em;
    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }
  &__tweet {
    width: min(335px, 100%);
    border-radius: 28.315px;
    border: 2.36px solid #110f0f;
    padding: 1em;
    position: relative;

    &:hover .experience__tweet-overlay {
      opacity: 1;
      cursor: pointer;
    }
  }


  &__tweet-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    // backdrop-filter: blur(5px);
    border-radius: 28.315px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // background-color: #110F0F;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;

    &::before {
      position: absolute;
      content: "Preview";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: $brown-clr;
      padding: 1em;
      color: $white;
      border-radius: 50px;
      font-size: 1rem;
    }
  }

  &__action{
    
  }
}
