// @import "../base/mixins";
// @import "../base/variables";
.footer{
    border-top: 1px solid #110F0F;


    &__content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 3em;
        width: 80%;
        gap: 5em;
    }
    &__bottom{
        display: flex;
        // align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3em;
    }
    &__social{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;

        @include for-mobile{
            // align-items: left;
            justify-content: start;
        }
    }
    &__list {
       
    }
    &__link{
        font-family: $font-hind;
    }
    &__item{
        margin-bottom: 1em;
    }
    &__subtitle{
        font-family: $font-Bubblegum;
        font-size: 1.1rem;
        margin-bottom: 1em;
    }
    &__tag{
        background-color: $brown-clr;
        color: $white;
        padding: .5em .8em;
        font-size: .7rem;
        border-radius: 55.309px;
        margin-left: .8em;
        font-family: $font-hind;
    }
    
    &__mail{
        font-family: $font-Bubblegum;
        font-size: 1.2rem;
    }
    &__copyright{
        font-family: $font-hind;
        font-size: 1rem;
    }

}