
@import "../base/mixins";




.header{
    background-color: $gray-main;
    padding: 2rem  1em;

    &__nav-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .visually-hidden {
        position: absolute;
        left: 0;
        top: -500px;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    
    @include for-desktop{
        .hamburger{
            display: none;
        }
    
    }

    @include for-tablet{
        .hamburger{
            background: transparent;
            border:0;
            cursor: pointer;
            display: block;
            padding: 0.5em;
            z-index: 99;
        }
        .bar{
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            background-color: $black;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        
        }
        
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
        
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
   
}



.nav{
    display: flex;
    align-items: center;
    &__link{
        // color: $white
    }
    &__link--btn{
        padding: .8rem 1.6rem;
        background-color:  $brown-clr;
        color: $white;
        border-radius: 100px;
    }
    
    @include for-desktop{
        //  margin: 0  auto;
        &__list{
            display: flex;
            justify-content: center;
            align-items: center;

            & > * + *{
                margin-left: 1em;
             }
        }
        &__list--primary{
            background-color: $white;
            padding: .8rem 1.2rem;
            border-radius: 100px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            max-width: 350px ;

            display: flex;
            justify-content: space-between;

        }
        
        &__link{
            color: $black;
            font-size: 1rem;
           &--primary{
            font-family: $font-Bubblegum;
            padding: .5em 1em;
                border-radius: 100px;

            &:hover,
            &:active,
            &:focus{
                color: $white;
                transition: all 0.3s;
                background-color: $brown-clr;
        
            }

           }


           &--secondary{
            font-family: $font-hind;
            font-weight: 700;
           }
        }
        &__link--btn{
            color: white;

            &:hover{
            background-color: $white;
            color: $brown-clr;
            }
        }
        // &__list--secondary{
        //     margin-left: 0 auto;
           

            
            
        // }
    }
    @include for-tablet{


                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $gray-main;
                z-index: 2;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                visibility: hidden;
                opacity: 0;
                transform: translateY(-100%);
                transition: all 0.5s ease-in; 

                &[data-visible]{
                    // display: block;
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
            
                }
                &__list--secondary li:nth-child(1){
                    margin-bottom: 1.5em;
                }
&__link{
        color: $brown-clr;
        font-family: $font-hind;
        font-weight: $fw-500;


        

        
    }
    

    &__link--btn{
        color: $white;
        // text-transform: uppercase;
    }
    
                &__list{
                    & > * + *{
                        margin-top: .5em;
                     }
                     &--primary{
                        margin-bottom: 2em;
                     }
                }

              

    }

    
    
}






