
@import "../base/mixins";
@import "../base/variables";
.pricing{
  position: relative;

  
  &__content{
    margin:  0 auto;
    text-align: center;
  }
  &__switch{
    position: relative;
    border-radius: 47px;
border: 1px solid #D9D9D9;
background: #EBEBEB;
    display: inline-flex;
    padding: 10px;
    margin-top: 1em;
      margin-bottom: 3em;
     [type="radio"]{
      position: absolute;
      left: -9999px;
      
     }

  }
  &__switch [type="radio"]:checked#monthly ~ label[for="monthly"],
  &__switch [type="radio"]:checked#yearly ~ label[for="yearly"]{
   color: #110F0F99;
  }

  &__switch [type="radio"]:checked#monthly ~ label[for="monthly"],
  &__switch [type="radio"]:checked#yearly ~ label[for="yearly"]{
    background: transparent;
  }

&__switch [type="radio"]:checked#monthly + label[for="yearly"] ~ .highlighter{
  transform: none;
}
&__switch [type="radio"]:checked#yearly + label[for="monthly"] ~ .highlighter{
  transform: translateX(100%);
}

  &__switch label{
    min-width: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: color 0.25s ease-in-out;
    font-size: 1rem;
    border-radius: 24px;
    // padding: .35rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

 &__switch .highlighter{
  position: absolute;
  top: 4px;
  left: 4px;
  background: #fff;
  transition: transform 0.25s ease-in-out;
  width: calc(50% - 4px);
  height: calc(100% - 8px);
  border-radius: 30px;
 } 

 &__card .hide{
  display: none;
 }
  
    &__row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1em;
    }
    &__card{
      flex-grow:1 ;
      flex-basis: 350px;
    border: 5px solid #110F0F;
    background: #F2F2F2;
    // width: min(590px,90%);
    padding: .8em .8em  3em .8em;
    border-radius: 30px;
    margin: 0 auto;
    }
    &__heading{
        padding:1em;
        margin-bottom:1em;
        border-radius: 11px;
        border: 2px solid #110F0F;
    }
    &__free{
        
        background: linear-gradient(270deg, #CFD8E7 18.77%, rgba(242, 242, 242, 0.00) 101.21%);
    }

    &__monthly{
        
        background: linear-gradient(270deg, #B9C628 18.77%, rgba(242, 242, 242, 0.00) 101.21%);
      }
    &__yearly{
      display: flex;
      justify-content: space-between;
      align-items: center;
      
background: linear-gradient(270deg, rgba(234, 159, 71, 0.96) 18.77%, rgba(242, 242, 242, 0.00) 101.21%);
    }
    &__tag{
        border-radius: 24px;
        background: #FFF;
        padding:.5em 1em;
        font-size:.8rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        
      }
      &__pro{
        background-color: #D85912;
        border-radius: 24px;
        padding:.4em .8em;
        font-size:.8rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
    &__list{
        display:flex;
        justify-content:space-between;
        margin-bottom:3em;
        line-height: 1.9;
        margin-right: 2em;
      }

      &__item .fa-check{
        color: #7E15D0;
      }

      &__item i{
        font-size:.9rem;
      }
      .pricing__item--text{
        font-size:.9rem;
      }
      &__btn{
        appearance:none;
        border:none;
        border-radius: 80px;
        background: #110F0F;
        color:#Fff;
        width:100%;
        padding:1em;
        // margin-bottom:11em;
      }


  //   &__sub{
  //       display: flex;
  //       align-items: center;
  //       border-radius: 47px;
  //       border: 1px solid #585555;
  //       background: #EBEBEB;
  //       width: min(310px,90%);
  //       margin: 0 auto;
  //       padding: 1em;
  //   }
    
    

    
}