.review{
    &__card{
        
        border: 1px solid $brown-clr;
        padding: 2em;
        border-radius: 30px;

        & > * + *{
            margin-top: 3em;
        }
        
    }
    
    &__message{
        // padding: 1em;
        font-family: $font-hind;
        font-size: 1.1rem;
    }
    &__footer{
        display: flex;
        gap: 1em;
        align-items: center;
        // background-color: $brown-clr;
        // padding: 1em;
    }
    blockquote:before {
    color: $brown-clr;
    content: open-quote;
    font-size: 4rem;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    font-family: $font-Bubblegum;
  }
    &__avatar {
        position: relative;
        // Define the keyframes for rotating the border
        @keyframes rotate-border {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }

    &__avatar-border {
        position: absolute;
        top: 0;
        left: 0;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        border: 3px dotted $brown-clr;
        animation: rotate-border 25s infinite linear;
    }

    &__img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        margin: 0 auto;
        padding: .4em;
    }

    
    
    &__info{
        display: flex;
        flex-direction: column;

        & span:nth-child(1){
            font-family:$font-Bubblegum;
            font-size: 1.2rem;
            margin-bottom: -5px;
        }
        & span:nth-child(2){
            font-family:$font-hind;
            font-size: 1rem;
            
        }
    }


}



//   blockquote, q {
//     quotes: "\201C""\201D""\2018""\2019";
//   }