$medium: 944px;
$desktop: 944px;
$large-desktop:1200px;
$mobile: 500px;





@mixin for-large-desktop{
@media (min-width: #{$large-desktop}){ @content; }
}

@mixin for-desktop{
    @media (min-width: #{$desktop}){ @content; }
}
@mixin for-tablet{
    @media (max-width: #{$medium}){ @content;}
    }

@mixin for-mobile{
    @media (max-width: #{$mobile}){ @content; }
    }


    // animation: road-moving 30s infinite linear;
    // transition: all 1s linear;
  
  
  @keyframes road-moving {
    100% {
      transform: translate(-2400px);
    }
  }