$medium: 944px;
$desktop: 944px;
$mobile: 500px;

@mixin for-tablet{
@media (max-width: #{$medium}){ @content;}
}

@mixin for-desktop{
@media (min-width: #{$desktop}){ @content; }
}

@mixin for-mobile{
    @media (max-width: #{$mobile}){ @content; }
    }