
@use "variables";

html{
    font-size: 100%;
    box-sizing: border-box;
}
/* 1. Use a more-intuitive box-sizing model. */
*,*::before, *::after{
    box-sizing: inherit;
}
/* 2. Remove default margin/padding */
*{
    margin: 0;
    padding: 0;
  }
  
  /* 3. Allow perccentage based height */
  html,body{
    height: 100%;
    background-color: variables.$gray-main;
  }
  /* 4. Improve media defaults */
  img, picture, svg{
    display: block;
    max-width: 100%;
  }
  
  /* 5. Avoid text overflows */
  p,h1,h2, h3, h4,h5,h6{
    overflow-wrap: break-word;
  }

  /*
  Typographic tweaks!
  6. Add accessible line-height and Improve text rendering
  */

  body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    // font-family: 'Roboto', sans-serif;
    // background-color: $gray-main;
    }

    
    /* 7. Remove built-in form typography styles */
    
     button {
      font: inherit;
    }
    
    h1,h2{
    
    }
    
    ul{
      list-style: none;
    }
    a{
      text-decoration: none;
    }
  .container{
  // --max-width: 1110px;
  // --padding: 1rem;

    margin: 0 auto;
    width: min(1200px, 90% );
  //   width: min(var(--max-width), 100% - (var(--padding) * 2));
  // margin-inline: auto;
    /* added for nav-toggle positioning */
    // position: relative;
  }


  section{
    padding: 4em 0;
  }


  //comp: injects margin between elements via their common parent:
    .stack > * + * {
      margin-block-start: 1.5rem;
    }
  .cp-flex-wrap{
    // display:flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
  }


  //set overall input range
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent ;
    cursor: pointer;
    width: 15rem;
  }

                          /***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(159deg, rgba(216, 89, 18, 0.71) 0%, rgba(126, 21, 208, 0.79) 29.17%);
  height: 0.5rem;
  border-radius: 56.626px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: linear-gradient(159deg, rgba(216, 89, 18, 0.71) 0%, rgba(126, 21, 208, 0.79) 29.17%);
  height: 0.5rem;
  border-radius: 56.626px;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -5px; /* Centers thumb on the track */
  border-radius: 56.626px;
border: 3.539px solid #FFF;
box-shadow: 2.1234567165374756px 2.831275701522827px 11.325102806091309px 0px rgba(132, 132, 132, 0.25);

background: #7E15D0;
width: 20.741px;
height: 17.786px;  
} 

/***** Thumb Styles *****/
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  border-radius: 56.626px;
  border: 3.539px solid #FFF;
  box-shadow: 2.1234567165374756px 2.831275701522827px 11.325102806091309px 0px rgba(132, 132, 132, 0.25);
  background: #7E15D0;
  width: 12.741px;
  height: 7.786px;
}


/***** Focus Styles *****/
/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb {
  // border: 1px solid #fff;
  // outline: 3px solid #fff;
  // outline-offset: 0.125rem;
}

/******** Firefox ********/
input[type="range"]:focus::-moz-range-thumb {
  // border: 1px solid #fff;
  // outline: 3px solid #fff;
  // outline-offset: 0.125rem;     
}
.headline{
  text-align: center;
}
.tweet__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  // justify-content: center;
  width: min(600px, 100%);
}
.tweet__avater{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // background-color: red;
  // display: ;
  // border: 2px solid red;
}
.tweet__col-left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}