
@use "variables";

html{
    font-size: 100%;
    box-sizing: border-box;
}
/* 1. Use a more-intuitive box-sizing model. */
*,*::before, *::after{
    box-sizing: inherit;
}
/* 2. Remove default margin/padding */
*{
    margin: 0;
    padding: 0;
  }
  
  /* 3. Allow perccentage based height */
  html,body{
    height: 100%;
    background-color: variables.$gray-main;
  }
  /* 4. Improve media defaults */
  img, picture, svg{
    display: block;
    max-width: 100%;
  }
  
  /* 5. Avoid text overflows */
  p,h1,h2, h3, h4,h5,h6{
    overflow-wrap: break-word;
  }

  /*
  Typographic tweaks!
  6. Add accessible line-height and Improve text rendering
  */
  body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    // font-family: 'Roboto', sans-serif;
    // background-color: $gray-main;
    }
    
    /* 7. Remove built-in form typography styles */
    
     button {
      font: inherit;
    }
    
    h1,h2{
    
    }
    
    ul{
      list-style: none;
    }
    a{
      text-decoration: none;
    }
  .container{
  // --max-width: 1110px;
  // --padding: 1rem;

    margin: 0 auto;
    width: min(1200px, 90% );
  //   width: min(var(--max-width), 100% - (var(--padding) * 2));
  // margin-inline: auto;
    /* added for nav-toggle positioning */
    // position: relative;
  }


  section{
    padding: 4em 0;
  }


  //comp: injects margin between elements via their common parent:
    .stack > * + * {
      margin-block-start: 1.5rem;
    }
  .cp-flex-wrap{
    // display:flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
  }