.accordion{
    &__item{
        background-color: $white;
        padding: .7em 1.4em;
        border-radius: 6px;
        border: 1px solid #ccc;
        margin-top: 1.2em;
        // border-bottom: 2px solid $brown-clr;

        &.active .accordion__content{
            height: 50px;
            margin: 1em 0;
            
        }
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__heading{
        font-family: $font-hind;
        font-size: 1.1rem;
        font-weight: 600;
    }

    &__content{
        height: 0;
        overflow: hidden;
        // margin-top: -1em;
    }
    &__paragraph{
        font-family: $font-hind;
    }
    &__icon{
        font-size: 1.6rem;
        cursor: pointer;
        font-weight: 700;
    }
}