@import "../base/variables";
.btn{
    border: none;
  border-radius: 80px;
  padding: 12px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: .5s all ease;
}

.btn-bg{
    @extend .btn;
    background-color: $brown-clr;
    color:$white;
}
.btn-transparent{
    @extend .btn;
    border: 3px solid $brown-clr;
    color:$brown-clr;

    &:hover{
        background-color: $brown-clr;
        color: $white;
    }
}
.btn-help{
    @extend .btn;
    border: 3px solid $brown-clr;
    color:$brown-clr;
    //  position: relative;
    // &:hover{
    //     position: absolute;
    //     background-color: red;
    // }
}
.btn-pricing{
    @extend .btn;
}
.btn-pricing{
    @extend .btn;
    background-color: $brown-clr;
    color: $white;
    width: 100%;
}