// @import "../base/variables";
.btn{
  border: none;
  border-radius: 80px;
  padding: 12px 25px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: .5s all ease;
  font-family: $font-hind;
  font-weight: 500;
}

.btn-bg{
    @extend .btn;
    background-color: $brown-clr;
    color:$white;
}

.btn-lg{
    @extend .btn;
    background-color: $brown-clr;
    color:$white;
    width: 100%;
    border-radius: 6px
}

.btn-transparent{
    @extend .btn;
    border: 3px solid $brown-clr;
    color:$brown-clr;
    display: inline-flex;
    gap: .5em;
    align-items: center;
    font-family: $font-hind;
    font-weight: 600;
    &:hover{
        background-color: $brown-clr;
        color: $white;
    }
}
.btn-help{
    @extend .btn;
    border: 3px solid $brown-clr;
    display: inline-flex;
    color:$brown-clr;
     position: relative;
    &:hover + .help-chatbot{
        display: block;
        display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    background-color: $brown-clr;
    color: $white;
    border-radius: 6px;
    
    }
}
.btn-pricing{
    @extend .btn;
}
.btn-pricing{
    @extend .btn;
    background-color: $brown-clr;
    color: $white;
    width: 100%;
}