.help-chatbot{
    display: none;
    position: absolute;
    bottom: 100px;
    width: auto;
    left: -100px;
    @include for-mobile{
        left: 10px;
        width: 220px;
        bottom: 80px;

    }
    padding: .8rem;
    height: auto;    

    &__avatar{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), blue);
    }
    &__name{
        font-family: $font-Bubblegum;
    }
    &__online{
        font-family: $font-hind;
        font-weight: 300;
    }
    
    
}

// .help-bubble{
//     position: absolute;
//     content: "hello";
// }
