.help-chatbot{
    display: none;
    position: absolute;
    bottom: 100px;
    left: -100px;
    padding: 1rem;

    
    

    &__avatar{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: red;
    }
    &__name{
        font-family: $font-Bubblegum;
    }
    &__bubble{
//         width: 0;
//         height: 0;
//         border-left: 0 solid transparent;
//   border-right: 20px solid transparent;
//   border-top: 20px solid #efefef;
//   margin: 0 0 0 60px;
    }
    
}