@import "../base/variables";
.hero{
    display:flex;
    flex-wrap: wrap;
    gap: 3rem;
    // justify-content: space-between;
    

    @include for-tablet{
    //     grid-template-columns: 1fr;
    // gap: 6.4rem;
    }


     &__content{
        flex:1 0 40%;
        
     }
     &__version{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D9D9D9;
        width: min(200px, 70%);
        padding: .5em;
        border-radius:100px;
        font-size: .9rem;

        &> * + *{
         margin-left: 1em;
        }
     }

     &__new{
        background-color: $brown-clr;
        color: $white;
        padding: 0 .5em;
        border-radius:100px;
        font-size: .9rem;
     }
     &__title{
        font-size: 3rem;
        line-height: 1.1;
        width: min(500px, 100%);
        font-family: $font-Bubblegum;
    }
    &__text{
        width: min(500px, 100%);
        font-family: $font-hind;
        // font-size: 1.2rem;
    }
    &__diagram{
       flex:1 0 52%;
       position: relative;

       &::before{
        position: absolute;
        content: "";
        background-image: url(/images/hero-bg-right.svg);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-size:cover;
       }
    }
    &__road{
        background-color: $brown-clr;
        width: min(500px, 100%);
        height: 140px;
        border-radius: 6px;
        margin: 0 auto;
        position: relative;
        @include for-large-desktop{
            width: min(600px, 100%);
            // background-color: red;
        }
        
    }
    &__cars{
        position: absolute;
        content: "";
        top: -12px;
    }
    &__line{
        width: min(500px, 100%);
        margin: 0 auto;
        transform: translateY(250%);
        position: relative;

        @include for-large-desktop{
            width: min(600px, 100%);
            // background-color: red;
        }

        
    }
    &__line--long{
        width: 97px;
        height: 12px;
        background-color: #fff;
        display: inline-block;
        margin-left: 1rem;


        &:nth-child(2)::before{
            position: absolute;
            content: "";
            background-image: url(/images/traffic-icon.svg);
            background-repeat: no-repeat;
            width: 32.532px;
            height: 32.532px;
            background-color: rgba(216, 89, 18, 0.15);
            left: 48%;
            top: -150%;
            // padding: .2em .6em;
            border-radius: 100%;
            // border: 0.87px solid #FFF;
            color: #fff;
            display: none;
            font-size: 18px;
   
           @include for-large-desktop{
              
              display: block;
            }
        }

        &:nth-child(2)::after{
         position: absolute;
         content: "Detector";
         left: 40%;
         bottom: -100%;
        //  padding: .2em .6em;
        width: 130px;
        height: 40px;
        text-align: center;
        border-radius: 2.561px;
        border: 0.87px solid #FFF;
        color: #fff;
        display: none;
        font-size: 18px;

        @include for-large-desktop{
           
           display: block;
            }

            
        
        }

        @include for-large-desktop{
           
        &:nth-child(2){
            margin-right: 3rem;
        }
        }
    }
   
    &__line--short{
        width: 46px;
        height: 12px;
        background-color: #fff;
        display: inline-block;
        margin-left: .5rem;
        @include for-large-desktop{
            margin-left: 6rem;
        }

        // work on this 

        &:nth-child(2)::after{
            // visibility: visible;
            // position: absolute;
            // content: "hello there this the learning curve ";
            // background-color: red;
            // background-image: url(/images/traffic-icon.svg);
            // background-image: url(/images/mock-locator.svg);
            // background-repeat: no-repeat;
            // width: 75.682px;
            // height: 95.69px;
            
            // color: red;
            // left: 20%;
            // right: 0;
        }

    }
    &__line--detector{
        // padding: .2em .6em;
        // border-radius: 2.561px;
        // border: 0.87px solid #FFF;
        // color: #fff;
        // visibility: visible;

        @include for-tablet{
            // display: block;
            visibility: hidden;
        }
// background: #110F0F;
    }
    &__meter{
        width: 350px;
        margin: 0 auto;
       
    }
    
}