@import "../base/variables";
.hero{
    display:grid;
    grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;


     &__content{
        
     }
     &__version{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D9D9D9;
        width: min(200px, 70%);
        padding: .5em;
        border-radius:100px;

        &> * + *{
         margin-left: 1em;
        }
     }

     &__new{
        background-color: $brown-clr;
        color: $white;
        padding: 0 .5em;
        border-radius:100px;
     }
     &__title{
        font-size: 3rem;
        line-height: 1.1;
    }
    
    &__diagram{
        background-image: url(/images/hero-bg-right.svg);
        background-repeat: no-repeat;
        background-size: auto;
    }
    &__road{
        background-color: $brown-clr;
        width: 530px;
        height: 140px;
        border-radius: 6px;
    }
    &__meter{
        width: 350px;
        margin: 0 auto;
       
    }
}