.blog{
    &__content{
        position: relative;
        text-align: center;
        width: min(500px, 90%);
        margin: 0 auto;
        padding: 0 0 100px 0;
        // background: linear-gradient(to right, rgba(255, 255, 255, 0.5), #7E15D0);
       
        
    }
    &__title{
       
        font-family: $font-Bubblegum;
        font-size: 2.2rem;
        @include for-tablet{
          font-size: 1.8rem;
        }
    }
    &__text{
        font-family: $font-hind;
    }
    &__featured{
        margin-top: 2em;
        // width: min(800px, 90%);
    }
    &__recent{
        margin-top: 2em;
    }
    
    &__ft--col{
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        // background-color: red;
        // width: 100%;
       align-items: center;
       justify-content: center;
       margin-bottom: 5em;
      
    }
    &__ft--inner{
        flex-grow: 1;
        flex-basis: 500px;
    }
    &__row{
        margin-top: 3em;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }
    &__column{
        flex-grow: 1;
        flex-basis: 45%;
        margin-bottom: 3em;
        > * + * {
            margin-top: 1em;
        }
    }
    &__tag{
        background-color: $white;
        border-radius: 30px;
        font-family: $font-hind;
        padding: .35em .9em;
        font-size: .75rem;
        display: inline-block;
        margin-bottom: 2em;
    }
    &__heading{
        font-size: 1.4rem;
        font-family: $font-hind;
    }
    &__post-content{

        font-size: 1.1rem;
    }

}
.subscribe{
       width: min(100%, 450px);
       margin: 0 auto;
    &__title{       
        font-family: $font-Bubblegum;
        font-size: 2.2rem;
        @include for-tablet{
          font-size: 1.8rem;
        }
    }
    &__form{
        margin-top: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        // background: #edeefe;
        border-radius: 50px;
        border: 2px solid $brown-clr;
    }

}