.company{
   
    &__content{
        position: relative;
        text-align: center;
        width: min(500px, 90%);
        margin: 0 auto;
        // background: linear-gradient(to right, rgba(255, 255, 255, 0.5), #7E15D0);
       
        
    }
    &__title{
        z-index: 200px;
        font-family: $font-Bubblegum;
        font-size: 2.2rem;
        @include for-tablet{
          font-size: 1.8rem;
        }
    }
    &__text{
        font-family: $font-hind;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2em;
        margin-top: 4em;

    }

    &__column{
        padding: 2em;
        border: 2px solid $brown-clr;
        border-radius: 10px;
        flex: 1 0 350px;
        font-family: $font-hind;
        &--vision{
            background-color: #CFD8E7;
        }
        &--mission{
            background-color: #7E15D0;
            color: $white;
        }
    }
    &__img{
        width: 60%;
        margin: 0 auto;
    }
    &__tag{
        background-color: $brown-clr;
        color: $white;
        border-radius: 100px;
        padding: .5em 1em;
        font-size: .9rem;
    }
    &__comment{
        line-height: 1.8;
    }
}

.circle{
    position: absolute;
    right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
    width: min(500px, 90%);
    height: 50px;
    background: linear-gradient(to bottom, #fa39ad 40%, #7E15D0 50%);
    filter: blur(120px);
}