.hero{
    display:flex;
    flex-wrap: wrap;
    gap: 3rem;
    
    @include for-tablet{
    //     grid-template-columns: 1fr;
    // gap: 6.4rem;
    }


     &__content{
        flex:1 0 40%;
     }
     &__version{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $gray85;
        width: min(170px, 70%);
        padding: .5em;
        border-radius:100px;
        font-size: .8rem;
        font-family: $font-hind;

        &> * + *{
         margin-left: 1em;
        }
     }

     &__new{
        background-color: $brown-clr;
        color: $white;
        padding: 0 .5em;
        border-radius:100px;
        font-size: .8rem;
     }
     &__title{
        font-size: 3rem;
        line-height: 1.1;
        width: min(500px, 100%);
        font-family: $font-Bubblegum;

        @include for-tablet{
            // font-size: clamp(2rem, -2vw + 1rem, 3rem);
            // 64 24 20 48 40
            
        }
    }
    &__text{
        width: min(400px, 100%);
        font-family: $font-hind;
        font-size: 1.1rem;
        
        

        @include for-tablet{
            // font-size: clamp(2rem, -2vw + 1rem, 3rem);
            // 64 24 20 48 40
            font-size: 1rem;
            
        }
    }
    &__diagram{
       flex:1 0 52%;
       position: relative;

       &::before{
        position: absolute;
        content: "";
        background-image: url(/images/hero-bg-right.svg);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-size:cover;
       }
    }
    &__road{
        background-color: $brown-clr;
        width: min(500px, 100%);
        height: 140px;
        border-radius: 6px;
        margin: 0 auto;
        position: relative;
        @include for-large-desktop{
            width: min(600px, 100%);
            // background-color: red;
        }
    }
    &__motorist{
        display: flex;
        align-items: center;
        justify-content: center;
 
    }
    &__motorist--left{
        position: absolute;
        content: "";
        bottom: 30px;
    }
    &__motorist--right{
        position: absolute;
        content: "";
        top: 42px;
    }
    &__line{
        width: min(500px, 100%);
        margin: 0 auto;
        transform: translateY(250%);
        position: relative;

        @include for-large-desktop{
            width: min(600px, 100%);
            // background-color: red;
        }

        
    }
    &__line--long{
        width: 97px;
        height: 12px;
        background-color: $white;
        display: inline-block;
        margin-left: .5rem;
        @include for-large-desktop{
            margin-left: 1rem;
        }   

        @include for-large-desktop{
           
        &:nth-child(3){
            // margin-right: 2rem;
        }
        }
    }

    &__line--detector{
        @include for-large-desktop{
            margin-left: 8.5rem;
        }
        &::before{
            position: absolute;
        content: "";
        background-image: url(/images/traffic-icon.svg);
        background-repeat: no-repeat;
        width: 32.532px;
        height: 32.532px;
        background-color: rgba(216, 89, 18, 0.15);
        left: 48%;
        top: -150%;
        border-radius: 100%;
        color: $white;
        display: none;
        font-size: 18px;
        

       @include for-large-desktop{
          
          display: block;
        }

        }

    }

    &__line--detector{
        &::after{
        position: absolute;
        content: "Detector";
        left: 40%;
        bottom: -100%;
        width: 130px;
        height: 40px;
        text-align: center;
        border-radius: 2.561px;
        border: 0.87px solid $white;
        color: $white;
        display: none;
        font-size: 18px;


       @include for-large-desktop{
          display: block;
           }   
        }
    }
   
    &__line--short{
        width: 46px;
        height: 12px;
        background-color: $white;
        display: inline-block;
        margin-left: .5rem;
       
        &:last-child{
            @include for-large-desktop{
                margin-left: 6rem;
            }
        }
    }

    &__line--sketch{
        // width: 662.297px;
        height: 110px;
        width: 80px;
        position: absolute;
        bottom: -50px;
        right: 85px;
        background-image: url(/images/traffic-sketch.svg);
        background-repeat: no-repeat;
        z-index: -99;
        visibility: hidden;
        // margin-left: -4rem;
        

        @include for-large-desktop{
            visibility: visible;
            display: inline-block;
        }
    }
    
    &__meter{
        width: 350px;
        margin: 0 auto;       
    }
    
}


/*****************************/
/* SHOWCASE SECTION STYLES */
/*****************************/
.showcase{
    &__row{
        display: flex ;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3rem;
    }

    &__map{
        border: 5px solid  $brown-clr;
        border-radius: 80px;
        margin-bottom: 6rem;
        // width: 1297px;
        // height: 583px;
    }
    &__headline{
        width: min(600px, 100%);
    }
    &__title{
        text-align: center;
        font-family: $font-Bubblegum;
        font-size: 2.5rem;
    }
    &__content{
        flex: 1 0 49%;
        position: relative;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &::before{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            content: "";
            background-image: url(/images/hero-bg-right.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: min(547px, 100%);
            height: min(540px, 100%);
        }
    }
    &__subtitle{
        font-family: $font-hind;
        font-size: 2rem;
        // color: red;
        @include for-tablet{
            font-size: 1.4rem;
        }
    }
    &__view{
        flex: 1 0 42%;
        z-index: -99;
        margin-right: 3.5em;
        @include for-large-desktop{
        margin-top: 2rem;
        }

    }
    &__display{
        flex: 1 0 52%;
        position: relative;
    }
    &__data{
        flex: 1 0 40%;
    }

    &__cancel{
        
  display: none;
        @include for-mobile{
            
            display: block;
                position: absolute;
                content: "";
                right: 90%;
                top: 6px;
                bottom: 220px;
                font-size: .9rem;
                // background-color: #7E15D0;
                color: #7E15D0;
                // width: 25px;
                // height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                cursor: pointer;
                font-family: $font-hind;
            
        }
        
    }
    &__feedback{
        border-radius: 8.494px;
        padding: 2rem;
        background: $white;
        width: min(300px, 100%);
        // height: 172px;
        text-align: center;
        position: absolute;
        // display: none;
        font-family: $font-hind;
        top: -20px;
        left: 100px;

        @include for-mobile{
            top: -10px;
            left: 60px;
        }
       
        @include for-large-desktop{
        top: -40px;
        left: 200px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        display: block;
        }
    }
    &__emoji{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
       
        border-radius: 8.494px;
        border: 0.708px solid #EFF6FF;
        background: $white;
    }
    
    &__feedback-text{
        border-radius: 8.494px;
        border: 0.708px solid #7E15D0;
        padding: .5em;
        display: inline-block;
        width: 100%;
        margin-top: 1em;

    }
    &__text{
        font-size: 1.1rem;
        font-family: $font-hind;

        @include for-tablet{
            // font-size: clamp(2rem, -2vw + 1rem, 3rem);
            // 64 24 20 48 40
            font-size: 1rem;
            
        }
    }
}


/****************************/
/* PLATFORM STYLE */
/****************************/


@import "../base/variables";
@import "../base/mixins";
.platform{
    &__title{
        font-family: $font-Bubblegum;
        font-size: 2.5rem;    
    }
    &__action{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap:2rem;
        align-items: center;
        margin: 0 auto;
        padding-top: 5rem;

        @include for-mobile{
           justify-content: center;
           text-align: center;
           padding-top: 2.5rem;
        }
        
    }
    &__action-group{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__action-text{
        width: min(350px, 100%);
        font-size: 2rem;
        font-family: $font-Bubblegum;
    }
    &__headline{
        width: min(500px, 100%);
        margin-bottom: 5rem;
    }
    &__action-group > * + *{
       margin-left: 2em;
    }
    &__brands{
        display: flex; 
        flex-wrap: wrap; 
        gap: 3em;
        width: min(900px, 85%);
        margin: 0 auto;
    }
    &__brand{
        border-radius: 16.606px;
        border: 4.152px solid $brown-clr;
        padding: .4em;

        @include keyframes (moving-logos) {
            0% {
                transform: translateX(50%);
            }
            100% {
                transform: translateX(-50%);
            }
        }
        @include animation('moving-logos 10s infinite');

    }
}


/****************************/
// EXPERIENCE STYLES
/****************************/




.experience {
    padding: 2em;
      border: 5px solid $brown-clr;
      border-radius: 80px;
    &__title{
      font-family: $font-Bubblegum;
      font-size: 2.5rem;  
      
    }
    &__headline{
      width: min(500px, 100%);
      margin-bottom: 3em;
    }
  
    &__preview {
      width: min(700px, 100%);
      margin: 0 auto;
      text-align: center;
      position: relative;
      
      font-size: 1.2rem;
      font-family: $font-hind;
      @include for-tablet{
        font-size: 1.1rem;
      }
  
      &::before {
        position: absolute;
        content: "Preview";
        left: -33px;
        top: -28px;
        font-size: 1rem;
        background-color: $brown-clr;
        color: $white;
        transform: rotate(-29.916deg);
        padding: 9.833px 21.667px;
        border-radius: 50px;

        @include for-tablet{
            width: 80px;
            left: -27px;
            top: -20px;
            font-size: .85rem;
            padding: .5em;
        }
      }
    }
  
    &__message {
      text-align: left;
      border-radius: 28.4px;
      border: 2.367px solid $brown-clr;
      padding: 1.5em;
      @include for-tablet{
        padding: 1em;
      }
    }
    &__tweets {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2em;
      height: 320px;
      
      /* hide scrollbar but allow scrolling */
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
      overflow-y: scroll;
      margin-top: 5em;
      &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
    }
      }
  

      .download{
        // position: relative;
        &__subheading{
             margin-bottom: 4em;
            text-align: center;
        }
        &__title{
            font-family: $font-Bubblegum;
            font-size: 2.5rem;
        }
        &__row{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap:3rem;
            width: min(1100px, 100%);
            margin: 0 auto;
            // overflow:auto;
            position: relative;
    
    
            @include for-desktop{
                &::after{
                    position: absolute;
                    content: "";
                    background-image: url(/images/hero-bg-right.svg);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 90%;
                    height: 100%;
                    top: 100px;
                    bottom: 0;
                    left: 20%;
                    right: 0;
                    z-index: -90;
        
        
                }
            }
            
        }
        &__col{
            border-radius: 80px;
            border: 5px solid $brown-clr;
            padding-top: 2em;
            // flex: 1 0 45%;
            // height: 580px;
            width: 450px;
            // margin: 0 2rem;
            background-color: #f2f2f2;
            // z-index: 100;
            
            
    
            &:hover .download__img--left{
                background-size: 90%;
                
               }
               &:hover  .download__img--right{
                background-size: 90%;
                
               }
    
            
        }
        &__img{
            background-repeat: no-repeat;
            background-position-x:  right;
            background-position-y: bottom ;
            background-size: 70%;
            min-height: 430px;
            // z-index: -100;
            transition: .45s ease all; 
            @include for-mobile{
                height: 300px;
            }

        }
        &__img--left{
                background-image: url(/images/mobile1.svg);
                    
        }

        &__img--right{
            background-image: url(/images/map-interface.svg);
            z-index: -100;
        }

        &__subtitle{
            text-align: center;
            font-size: 1.8rem;

            @include for-tablet{
                font-size: 1.4rem;
            }
            font-family: $font-Bubblegum;
    
        }
        &__action{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 4em;
        }
    
        &__action > * + *{
            margin-left: 2em;
         }
    
        
    }