
    .signup{
      
       display: flex;
       flex-wrap: wrap;
       &__layout{
        background-color: $brown-clr;
        height: 100vh;
        padding: 4em 3em 3em 3em;
        width: 36%;
        color: $white;  
        
        @include for-tablet{
          display: none;
        }
        & > * + * {
          margin-top: 1.5em;
         }
       }

       &__heading{
        font-family: $font-Bubblegum;
       
       }
       &__text{
        font-family: $font-hind;
       }


      &__form{
        width: min(400px, 90%);
        margin: 0 auto;
        font-family: $font-hind;

      }
      &__title{
        text-align: center;
        font-size: 2rem;
        margin: 2rem 0;
      }
      &__field input{
        display: inline-block;
        width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px solid $brown-clr;
    border-radius: 6px;
     background: none; 
        
     &:focus{
        outline: none;
      }
      }
      &__field label{
        font-size: 1.1rem;
      }
      
      
  
  
    }
     

    #error-msg{
      // display: none;
    }

    .error-input{
      // display: none;
      // border: 1px red solid ;
    }