@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');


$font-Bubblegum: 'Bubblegum Sans', cursive;
$font-hind:'Hind Siliguri', sans-serif ;


$fs-400: 0.875rem;
$fs-500: 0.9375rem;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
